.circles__circle-container {
    position: relative;
    width: 500px;
    height: 500px;
}

.circles__circle-container .circle1 {
    width: 62px;
    height: 62px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 7;
}

.circles__circle-container .circle2 {
    width: 124px;
    height: 124px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 6;
}

.circles__circle-container .circle3 {
    width: 186px;
    height: 186px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 5;
}

.circles__circle-container .circle4 {
    width: 248px;
    height: 248px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 4;
}

.circles__circle-container .circle5 {
    width: 310px;
    height: 310px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 3;
}

.circles__circle-container .circle6 {
    width: 372px;
    height: 372px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 2;
}

.circles__circle-container .circle7 {
    width: 434px;
    height: 434px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 1;
}

.circles__circle-container .circle8 {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 0;
}