.circles__circle-container .circle1 {
    width: 134px;
    height: 134px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 2;
}

.circles__circle-container .circle2 {
    width: 267px;
    height: 267px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 1;
}

.circles__circle-container .circle3 {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 0;
}